@font-face {
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

body {
    --white: #F9FAF8;
    --shadow: rgba(0, 0, 0, 0.35);
    --darkBlue: #1f2937;
}

footer {
    font-family: "Roboto-Regular", sans-serif;
    height: 15vh;
    background-color: var(--darkBlue);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a p {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 200;
}

footer a p:hover {
    cursor: pointer;
    text-decoration: none;
}

.floating-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: var(--darkBlue);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: var(--white);
    box-shadow: var(--shadow) 0px 5px 15px;
}