@font-face {
    font-family: "Roboto-Bold";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

body {
    --darkBlue: #1f2937;
    --white: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: var(--darkBlue);
}

.link-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header ul li :hover {
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: start;
}

.logo-text {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: var(--white);
    text-decoration: none;
}

.link,
header ul li a {
    font-family: "Roboto-Medium", sans-serif;
    color: var(--white);
    text-decoration: none;
}

.link-container a li code,
footer p a code {
    font-size: 16px;
    font-weight: 200;
}

@media(max-width:690px) {
    header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--white);
    }

    .link-container {
        display: none;
    }
}